.ciao {
    color: whitesmoke;
}

#immagine {
    float: right;
    padding-right: 60px;
    height: 300px;
}

.titolo {
    color: violet
}

.redcube {
    color: red;
}

#immagine {
    float: right;
}

.discord {
    color: blue;
    padding-left: 60px;
}

.inviteds {
    color: blueviolet;
}

#black {
    background-color: black;
    padding-left: 60px;
}

.ds {
    color: black;
    padding-left: 60px;
}